/.idea/
output
__pycache__
*.npy
*.pkl
*.pdf
*.ply
*.tar
*.pth
log/
data
GeoTransformer-1.0.0
*.zip
*.tar.gz
.vscode
results
deformnet_eval
external
build
*.egg-info
*.so
docker
logs
GPV_Pose-master*
eval_logs
my_rgbd
